.link {
  position: relative;
  text-decoration: none;
}
.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: #21495f;
  bottom: 6px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.container {
  display: flex;
  align-items: center;
  user-select: none;
}
.minus,
.plus {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.num {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 60px;
  margin: 0 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 12px;
  color: #000;
  font-weight: bold;
}
.minus span {
  display: flex;
  width: 10px;
  height: 2px;
  background: #000;
}
.plus span:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 10px;
  height: 2px;
  background: #000;
}
.plus span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 2px;
  height: 10px;
  background: #000;
}
